*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #562870;
}
.wrap{
    padding: 10px 0;
    background-color: #ec008b;
    box-shadow: 0 5px 5px rgba(180, 0, 139, .6);
}
.breadcrumb{
    width: 98%;
    margin: auto;
    display: flex;
    
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #fff;
}
.breadcrumb a:hover{
    color: #ff0;
}
.breadcrumb li + li{
    padding-left: 0;
}
.breadcrumb li + li::before{
    content: ">";
    color: #fff;
    margin-right: 20px;
}